.splide {
    width: 80%;
    margin: auto;
}

.splide__slide img {
    width: 100%;
    height: auto;
    display: block;
}

.splide__pagination {
    bottom: -30px;
}

.splide__pagination__page {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
}

.splide__pagination__page.is-active {
    background-color: #333;
}

.splide__arrow {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
}

.splide__arrow:hover {
    background-color: rgba(165, 165, 165, 0.8);
    cursor: pointer;
}

@media (max-width: 600px) {
    .splide {
        width: 100%;
    }
}