.post h2{
    border: 1px solid black;
    margin: 10px;
    width: 850px;
    padding: 10px;
    background-color: #47a6ff;
    cursor: pointer;
}

.postwrapper{
    position: fixed;
    background-color: darkgrey;
    width: 900px;
    height: 600px;
    display: none;
}

.postwrapper i{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: rgb(255, 36, 36);
    z-index: 10;
    display: none;
}

.add{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: grey;
    cursor: pointer;
    transition: 0.3s;
}

.add:hover{
    color: black;
}

.addwrapper{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 900px;
    height: 600px;
    display: none;
    background-color: rgb(0, 129, 0);
}